---
import BaseLayout from "../../layouts/BaseLayout.astro";

const pageTitle = "Tab index";
const data = await Astro.glob("../posts/*.md");
const allTags = [...new Set(data.map((post) => post.frontmatter.tags).flat())];
---

<BaseLayout pageTitle={pageTitle}>
  <!-- <pre>{JSON.stringify(allTags, null, 2)}</pre> -->

  <div class="tags">
    {
      allTags.map((tag) => (
        <p class="tag">
          <a href={`/tags/${tag}`}>{tag}</a>
        </p>
      ))
    }
  </div>
  <h1>My Page</h1>
</BaseLayout>

<style>
  a {
    color: #00539f;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
  }

  .tag {
    margin: 0.25em;
    border: dotted 1px #a1a1a1;
    border-radius: 0.5em;
    padding: 0.5em 1em;
    font-size: 1.15em;
    background-color: #f8fcfd;
  }
</style>
