---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Blog";
const allPosts = await Astro.glob("./posts/*.md");
console.log(allPosts);
---

<BaseLayout pageTitle={pageTitle}>
  <h1>Blog</h1>
  <ul>
    <li><a href="/posts/post-1">Blog 1</a></li>
    <li><a href="/posts/post-2">Blog 2</a></li>
    <li><a href="/posts/post-3">Blog 3</a></li>
  </ul>
</BaseLayout>
