---
import BlogPost from "../components/BlogPost.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Blog";
const allPosts = await Astro.glob("./posts/*.md");
---

<BaseLayout pageTitle={pageTitle}>
  <h1>Blog</h1>
  <!-- <pre>{JSON.stringify(allPosts, null, 2)}</pre> -->
  <ul>
    {
      allPosts.map((el) => (
        <BlogPost title={el.frontmatter.title} href={el.url} />
      ))
    }
  </ul>
</BaseLayout>
