<a href="/">Landing Page</a>
<a href="/about">About</a>
<a href="/blog">Blog</a>

<style>
  a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }

  a:hover {
    color: #000;
  }
</style>
